/* .card-title {
font-size:16px;
height: 120px;
}
.card-source {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}
.card-source p{
    font-size: 12px;
}
.card-text{
    font-size: 14px;
    height: 220px;
} */
